{
  "ConnectionStrings": {
    "Default": "Host=localhost;Database=stcharlos;Username=postgres;Password=suasenha"
  },
  "Jwt": {
    "Key": "troque-por-uma-chave-secreta-com-pelo-menos-32-caracteres"
  },
  "Cors": {
    "AllowedOrigins": [ "http://localhost:5500", "http://127.0.0.1:5500" ]
  }
}
